---
import Layout from "../layouts/Layout.astro";
import invitados from "../data/invitados.json";
import OpenCard from "../components/boda/OpenCard";
import CoverImage from "../components/boda/CoverImage";
import CountDownDate from "../components/boda/CountDownDate";
import DressCode from "../components/boda/DressCode";
import FadeInOnScroll from "../components/boda/FadeInOnScroll";
import WeddingMonthCalendar from "../components/boda/WeddingMonthCalendar";
import AnimatedText from "../components/boda/AnimateText";

// 🔥 IMPORTANTE
export function getStaticPaths() {
  return invitados.map((inv) => ({
    params: { slug: inv.slug },
    props: { invitado: inv },
  }));
}

// 🔹 Recibir props
const { invitado } = Astro.props;

// 🔹 Validación (opcional pero recomendado)
if (!invitado) {
  throw new Error("Invitado no encontrado");
}

const fechaBoda = "2026-10-02T21:00:00-06:00";

const mensaje = `
Buen día,
Confirmo mi asistencia.

Invitad@: ${invitado.nombre}
Numero de pases: ${invitado.pases}
`;
---

<Layout>
  <OpenCard client:load nombre={invitado.nombre} pases={invitado.pases} />
  <main  class="">
    <CoverImage client:visible />

    <FadeInOnScroll type="slide-up" client:visible delay={0.5}>
      <div class="flex flex-col max-w-xs md:max-w-xl mx-auto m-10 gap-y-5">
        <!-- <p class="text-md text-justify text-black leading-relaxed">
          Dios nos ha concedido el privilegio de conocernos y amarnos, con su
          bendición y la de nuestros padres queremos unir nuestras vidas para
          siempre.
        </p> -->
        <p class="text-md text-center text-black leading-relaxed">
          El amor nos unió y queremos compartir contigo el inicio de nuestra historia para siempre.
        </p>
        <p
          class="subtitulo mx-auto text-center md:text-justify  text-3xl text-gold-500"
        >
          ¡Los invitamos a acompañarnos en este día tan especial!
        </p>
      </div>
    </FadeInOnScroll>

    <div class="relative flex flex-col w-full h-auto py-7 items-center justify-center bg-navy-blue gap-y-5" >
      <FadeInOnScroll type="fade" client:visible delay={0.7}>
        <!-- <p
          class="flex w-full justify-center titulo font-bold text-[48px] text-gold-500 mb-2 "
        >
          Save the Date
        </p> -->

        <AnimatedText client:visible
          text="Save the Date"
          className="titulo text-center tracking-[0.1em] text-gold-500 text-[58px] font-bold"
        />
        <WeddingMonthCalendar client:visible date={fechaBoda} />
      </FadeInOnScroll>

      <FadeInOnScroll type="slide-up" client:visible>
        <div class="flex flex-col w-full h-auto items-center justify-center  gap-y-5" >
          <img src="/boda/img-1.png" alt="" />
          <p class="font-bold text-gold-500 tracking-[0.5em]">
            UBICACIÓN IGLESIA
          </p>
          <div class="flex w-full h-auto justify-center">
            <div
              class="flex flex-col w-full mx-5 p-3 gap-y-2 bg-ivory-50 text-navy-blue rounded-xl items-center justify-center"
            >
              <img src="/boda/icon_iglesia.png" class="w-25 h-auto" alt="" />
              <div
                class="flex flex-col max-w-xs text-center items-center justify-center"
              >
                <img src="/boda/icono_iglesia.png" class="w-65 h-auto" alt="" />
  
                <p class="titulo text-[35px] font-bold ">
                  Miguel Agustin Pro
                </p>
                <p>Puerto Escondido, Nueva California, 27085 Torreón, Coah.</p>
              </div>
              <a
                href="https://maps.app.goo.gl/2GTDz1yRwTAQdauW7"
                type="button"
                class="flex w-full md:max-w-xl justify-center rounded-xl py-3 bg-navy-blue text-ivory-50 font-semibold text-lg"
                >¿Como llegar?</a
              >
            </div>
          </div>
        </div>
      </FadeInOnScroll>
      <FadeInOnScroll type="slide-up" client:visible>
        <div class="flex flex-col w-full h-auto  items-center justify-center gap-y-5">
          <img src="/boda/img-2.png" alt="" />
          <p class="font-bold text-gold-500 tracking-[0.5em]">UBICACIÓN SALON</p>
          <div class="flex w-full h-auto justify-center">
            <div
              class="flex flex-col w-full mx-5 p-3 gap-y-2 bg-ivory-50 text-navy-blue rounded-xl items-center justify-center"
            >
              <img src="/boda/icon_fiesta.png" class="w-25 h-auto" alt="" />
              <div
                class="flex flex-col max-w-xs text-center items-center justify-center"
              >
                <p class="titulo text-[38px] font-bold ">
                  Hacienda Elegancia
                </p>
                <p>
                  Sierra Madre Occidental 1011, M. Mercado de López Sánchez, 27000
                  Torreón, Coah.
                </p>
              </div>
              <a
                href="https://maps.app.goo.gl/DcsK3XkUb9dK2yyi9"
                type="button"
                class="flex w-full md:max-w-xl justify-center rounded-xl py-3 bg-navy-blue text-ivory-50 font-semibold text-lg"
                >¿Como llegar?</a
              >
            </div>
          </div>
        </div>
      </FadeInOnScroll>
  
      <FadeInOnScroll type="slide-up" client:visible>
        <DressCode client:visible />
      </FadeInOnScroll>

      <FadeInOnScroll type="slide-up" client:visible delay={0.5}>
        <div class="flex flex-col">
          <AnimatedText client:visible
            text="¡Prepárate!"
            className="titulo text-center font-bold text-[58px] text-gold-500 tracking-[0.2em]"
          />
          <!-- <p class="titulo text-center font-bold text-[52px] text-gold-500 tracking-[0.2em]">
            ¡Prepárate!
          </p> -->
          <p class="subtitulo text-end text-2xl text-gold-500 mb-5 mr-7 " >
            Solo faltan...
          </p>

        </div>

        <CountDownDate client:visible date={fechaBoda} />
      </FadeInOnScroll>
      
      <div class="absolute bottom-0 left-0 bg-black/15"></div>

      <div class="absolute inset-0 pointer-events-none h-10
                  bg-gradient-to-b
                  from-navy-900/80
                  via-transparent
                  to-navy-80/70" />
    </div>

    <div class="flex flex-col w-full items-center justify-center py-5">

      <FadeInOnScroll type="fade" client:visible delay={0.7}>
  
        <AnimatedText client:visible
          text="Asistencia"
          className="titulo text-center tracking-[0.1em] text-navy-blue text-[58px] font-bold"
        />
        <div class="flex justify-center max-w-xs md:max-w-xl">
          <p class=" text-center text-navy-900 mb-10">
            Agradecemos <span class="font-bold text-xl">confirmar</span> su asistencia antes del 02 de Agosto
          </p>
        </div>
          
      </FadeInOnScroll>
      <FadeInOnScroll type="fade" client:visible delay={0.9}>     

        <div class="flex flex-col w-100 px-4 gap-6">
          <!-- Izquierda -->
          <div class="flex justify-start">
            <a
              href=`https://api.whatsapp.com/send?phone=528712654376&text=${encodeURIComponent(mensaje)}`
              class="rounded-md px-6 py-3 bg-gold-500  text-white text-lg"
            >
              Confirmar a la novia
            </a>
          </div>

          <!-- Derecha -->
          <div class="flex justify-end">
            <a
              href=`https://api.whatsapp.com/send?phone=528713458650&text=${encodeURIComponent(mensaje)}`
              class="rounded px-6 py-3 bg-gold-500  text-white text-lg"
            >
              Confirmar al novio
            </a>
          </div>
        </div>
          
      </FadeInOnScroll>
    </div>
  </main>
  <footer
    class="w-full py-6 text-center text-sm tracking-widest
     bg-ivory-50 text-navy-blue border-t border-gold-400/40"
  >
    Yulissa & Miguel · 2026
  </footer>
</Layout>
