---
import Layout from "../layouts/Layout.astro";
import invitados from "../data/invitados.json";
import OpenCard from "../components/boda/OpenCard";
import CoverImage from "../components/boda/CoverImage";
import CountDownDate from "../components/boda/CountDownDate";
import DressCode from "../components/boda/DressCode";
import FadeInOnScroll from "../components/boda/FadeInOnScroll";
import WeddingMonthCalendar from "../components/boda/WeddingMonthCalendar";
import AnimatedText from "../components/boda/AnimateText";
import GiftTable from "../components/boda/GiftTable";

// 🔥 IMPORTANTE
export function getStaticPaths() {
  return invitados.map((inv) => ({
    params: { slug: inv.slug },
    props: { invitado: inv },
  }));
}

// 🔹 Recibir props
const { invitado } = Astro.props;

// 🔹 Validación (opcional pero recomendado)
if (!invitado) {
  throw new Error("Invitado no encontrado");
}

const fechaBoda = "2026-10-02T21:00:00-06:00";

const mensaje = `
Buen día,
Confirmo mi asistencia.

Invitad@: ${invitado.nombre}
Numero de pases: ${invitado.pases}
`;
---

<Layout>
  <OpenCard client:load nombre={invitado.nombre} pases={invitado.pases} />
  <main  class="">
    <CoverImage client:visible />

    

    <div class="relative flex flex-col w-full h-auto py-7 items-center justify-center bg-navy-blue gap-y-8" >
      <FadeInOnScroll type="slide-up" client:visible delay={0.5}>
        <div class="flex max-w-md px-8" >
          <div class="flex max-w-md md:max-w-xs h-full mx-auto  items-center" >
            <!-- <p class="text-md text-justify text-black leading-relaxed">
              Dios nos ha concedido el privilegio de conocernos y amarnos, con su
              bendición y la de nuestros padres queremos unir nuestras vidas para
              siempre.
            </p> -->
            <p class="subtitulo text-lg text-justify text-white leading-relaxed">
              El amor nos encontró, unió nuestros caminos y nos regaló la certeza de querer compartir la vida juntos. Hoy, con el corazón lleno de ilusión, deseamos que formes parte de uno de los momentos más importantes de nuestra historia: <span class="text-gold-500">el comienzo de nuestro para siempre </span>. 
            </p>
            <!-- <p
              class="subtitulo mx-auto text-center md:text-justify  text-3xl text-gold-500"
            >
              ¡Los invitamos a acompañarnos en este día tan especial!
            </p> -->
          </div>
        </div>

        
      </FadeInOnScroll>
      <FadeInOnScroll type="fade" client:visible delay={0.7}>
        <!-- <p
          class="flex w-full justify-center titulo font-bold text-[48px] text-gold-500 mb-2 "
        >
          Save the Date
        </p> -->

        <AnimatedText client:visible
          text="Save the Date"
          className="titulo text-center  text-gold-500 text-[70px] font-bold"
        />
        <WeddingMonthCalendar client:visible date={fechaBoda} />
      </FadeInOnScroll>

      <FadeInOnScroll type="slide-up" client:visible>
        <div class="flex flex-col w-full h-auto items-center justify-center  gap-y-1 px-3" >
          <img src="/boda/img-1.png" alt="" />
          <!-- <p class="titulo font-bold text-[60px] text-gold-500 ">
            Ceremonia 
          </p> -->
          <AnimatedText client:visible
            text="Ceremonia"
            className="titulo text-center font-bold text-[58px] text-gold-500 "
          />
          <div class="flex w-full h-auto justify-center">
            <div
              class="flex flex-col w-full mx-5 p-3 gap-y-2 bg-ivory-50 text-navy-blue rounded-xl items-center justify-center"
            >
              <img src="/boda/icon_iglesia.png" class="w-25 h-auto" alt="" />
              <div
                class="flex flex-col max-w-xs text-center items-center justify-center"
              >
                <img src="/boda/icono_iglesia.png" class="w-65 h-auto" alt="" />

                <p>Capilla:</p>
  
                <p class="titulo text-[35px] font-bold ">
                  Iglesia del Padre Pro
                </p>
                <p>C. Cabo Pulmo 222, Villa California, 27085 Torreón, Coah.</p>
              </div>
              <a
                href="https://maps.app.goo.gl/2GTDz1yRwTAQdauW7"
                type="button"
                class="flex w-full md:max-w-xl justify-center rounded-xl py-3 bg-navy-blue text-ivory-50 font-semibold text-lg"
                >¿Cómo llegar?</a
              >
            </div>
          </div>
        </div>
      </FadeInOnScroll>
      <FadeInOnScroll type="slide-up" client:visible>
        <div class="flex flex-col w-full h-auto  items-center justify-center gap-y-1 px-3">
          <img src="/boda/img-2.png" alt="" />
          <!-- <p class="titulo font-bold text-[60px] text-gold-500">Recepción</p> -->
          <AnimatedText client:visible
            text="Recepción"
            className="titulo text-center font-bold text-[58px] text-gold-500 "
          />
          <div class="flex w-full h-auto justify-center">
            <div
              class="flex flex-col w-full mx-5 p-3 gap-y-2 bg-ivory-50 text-navy-blue rounded-xl items-center justify-center"
            >
              <img src="/boda/icon_fiesta.png" class="w-25 h-auto" alt="" />
              <div
                class="flex flex-col max-w-xs text-center items-center justify-center"
              >
                <p class="titulo text-[38px] font-bold ">
                  Hacienda Elegancia
                </p>
                <p>
                  Sierra Madre Occidental 1011, M. Mercado de López Sánchez, 27000
                  Torreón, Coah.
                </p>
              </div>
              <a
                href="https://maps.app.goo.gl/DcsK3XkUb9dK2yyi9"
                type="button"
                class="flex w-full md:max-w-xl justify-center rounded-xl py-3 bg-navy-blue text-ivory-50 font-semibold text-lg"
                >¿Cómo llegar?</a
              >
            </div>
          </div>
        </div>
      </FadeInOnScroll>
  
      <FadeInOnScroll type="slide-up" client:visible>
        <div class="flex flex-col items-center justify-center gap-y-3">

          <AnimatedText client:visible
              text="Dress code"
              className="titulo text-center font-bold text-[58px] text-gold-500 "
            />
          <img
            src="/boda/dress_code.png"
            alt="Dress Code"
            class="w-full max-w-sm md:max-w-lg h-auto rounded-xl object-contain"
          />
        </div>
      </FadeInOnScroll>
      
      <FadeInOnScroll type="slide-up" client:visible>
        <div class="flex w-full px-3 "> 
          <GiftTable client:visible
            stores={[
              {
                name: "Liverpool",
                url: "https://mesaderegalos.liverpool.com.mx/",
                image: "/boda/liverpool.png"
              },
              {
                name: "Amazon",
                url: "https://www.amazon.com.mx/wedding",
                image: "/boda/amazon.png"
              }
            ]}
          />
        </div>
      </FadeInOnScroll>

      <FadeInOnScroll type="slide-up" client:visible delay={0.5}>
        <div class="flex flex-col ">
          <AnimatedText client:visible
            text="¡Prepárate!"
            className="titulo text-center font-bold text-[58px] text-gold-500 "
          />
          <!-- <p class="titulo text-center font-bold text-[52px] text-gold-500 tracking-[0.2em]">
            ¡Prepárate!
          </p> -->
          <p class="subtitulo text-center text-2xl text-gold-500 mb-5 ">
            faltan...
          </p>

        </div>

        <CountDownDate client:visible date={fechaBoda} />
      </FadeInOnScroll>
      
      
    </div>

    
    <div class="relative flex-col w-full bg-cover bg-center py-2" style="background-image: url(boda/fondo.png);">

      <FadeInOnScroll type="fade" client:visible delay={0.7}>
        <div class="flex flex-col w-full items-center justify-center ">

          <AnimatedText client:visible
            text="Asistencia"
            className="titulo text-center  text-navy-blue text-[58px] font-bold"
          />
          <div class="flex items-center justify-center max-w-xs md:max-w-xl">
            <p class=" text-center text-navy-900 mb-10">
              Agradecemos <span class="font-bold text-xl">confirmar su asistencia </span>  antes del 02 de Agosto
            </p>
          </div>
        </div>
  
          
      </FadeInOnScroll>
      <FadeInOnScroll type="fade" client:visible delay={0.9}>     

        <div class="flex flex-col w-full px-4 gap-6">
          <!-- Izquierda -->
          <div class="flex justify-start">
            <a
              href=`https://api.whatsapp.com/send?phone=528712654376&text=${encodeURIComponent(mensaje)}`
              class="rounded-md px-6 py-3 bg-gold-500  text-white text-lg"
            >
              Confirmar a la novia
            </a>
          </div>

          <!-- Derecha -->
          <div class="flex justify-end">
            <a
              href=`https://api.whatsapp.com/send?phone=528713458650&text=${encodeURIComponent(mensaje)}`
              class="rounded px-6 py-3 bg-gold-500  text-white text-lg"
            >
              Confirmar al novio
            </a>
          </div>
        </div>
          
      </FadeInOnScroll>
    </div>
  </main>
  <footer
    class="w-full py-6 text-center text-sm tracking-widest
     bg-ivory-50 text-navy-blue border-t border-gold-400/40"
  >
    Yulissa & Miguel · 2026
  </footer>
</Layout>
