---
// src/components/LeafletMap.astro
interface Props {
  lat: number;
  lng: number;
}

const { lat, lng } = Astro.props;
const mapId = `map-${Math.random().toString(36).substring(2, 9)}`;
---

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<div class="w-[200px] h-[200px] overflow-hidden" id="{mapId}"></div>

<script is:inline>
  (function() {
    const script = document.createElement('script');
    script.src = 'https://unpkg.com/leaflet@1.9.4/dist/leaflet.js';
    script.onload = function() {
      const map = L.map('${mapId}').setView([25.4389, -100.9734 ], 15);
      
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 19,
      }).addTo(map);
      
      L.marker([25.4389, -100.9734]).addTo(map);
    };
    document.head.appendChild(script);
  })();
</script>